:root {
  --main-color-first: #000000;
  --main-color-second:rgb(255, 187, 77);
  --accent-color: #b7a3e6;
}
/*
#ae1e2c
8088ff
#b7a3e6
rgb(163, 184, 215)
rgb(255, 181, 62)
*/

body{
  margin: 0;
}
#header{
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 2;
}
#headerTitle{
  position: absolute;
  width: 100%;
  text-align: left;
  top: 5px;
}
#headerTitle h1{
  margin: 0;
  margin-top: -10px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color-second);
}
#headerImg{
  width: 100px;
  height: 80px;
  margin-left: 190px;
}
#headHeno{
  height: 100%;

  filter: drop-shadow(0px 0px 2px var(--accent-color));
}
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
#hamburgerBtn{
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: absolute;
  border: 1px solid  var(--main-color-second);
  cursor: pointer;
  width: 25px;
  height:25px;
  border-radius: 5px;
  margin-left: 10px;

  top: 40px;
  left: 145px;
}

/*ボタン内側*/
#hamburgerBtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 4px;
  height: 1px;
  border-radius: 2px;
  background: var(--main-color-second);
  width: 70%;
}

#hamburgerBtn span:nth-of-type(1) {
  top:6.25px;
}

#hamburgerBtn span:nth-of-type(2) {
  top:12.5px;
}

#hamburgerBtn span:nth-of-type(3) {
  top:18.75px;
}

/*activeクラスが付与されると1・3番目の要素が2番目の要素と同じ位置になり一本線に*/

#hamburgerBtn.active span:nth-of-type(1) ,
#hamburgerBtn.active span:nth-of-type(3){
  top:12.5px;
}
#dropDownList{
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  height: 0;
  transition: .2s;
}
#hamburgerBtn.active +#dropDownList{
  overflow: visible;
  height: 38px;
}
.dropDownLink{
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color-second);
  font-size: x-large;
  margin: 0;
  width: 100px;
}

.dropDownLink.active:before {
  position: absolute;
  transform: translate(-130%, 32px) rotate(-60deg);
  width: 10px;
  border-bottom: 1px solid var(--main-color-second);
  content: “”;
}
.dropDownLink.active:after {
  position: absolute;
  transform: translate(-55px, 32px) rotate(30deg);
  width: 17px;
  border-bottom: 1px solid var(--main-color-second);
  content: “”;
}
.dropDownLink h5{
  padding-left: 20px;
  margin: 0;
}

.dropDownLink.active h5{
  border-bottom: 1px solid var(--main-color-second);
}
#footer{
  position: fixed;
  height: 30px;
  width: 100%;
  bottom: 0;
  text-align: right;
  z-index: 2;
}
#footerTitle{
  margin: 0;
}
#footerTitle h1{
  font-size: x-large;
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color-second);
}

#moveBody{
  position: fixed;
}
#topImage{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  bottom: -55vh;
  left: -52vw;
  background: url("../images/スクリーンショット 2023-01-19 10.41.52.png") center / cover;
  filter: grayscale(100%);
}
#mainTextBoxes{
  position: fixed;
}
.mainTextBox{
  width: 400px;

}
.mainTextBox.active{
  width: 0;
}

#aboutCharacter{
  left: -55vw;
  top: -160vh
}
#aboutHistory{
  left: -5vw;
  top: -120vh;
}

#aboutArea{
  position: relative;
  left: 70vw;
  top: -35vh;
  width: 100vw;
  height: 100vh;
}
.aboutSmallBox{
  position: absolute;
}
#aboutCertification{
  top: 40%;
  right: 10%;
}
#aboutHenoheno{
  bottom: 15%;
  left: 10%;
}
.aboutSmallTitle{
  margin: 0px;
  font-size: x-large;
  font-weight: normal;
  color: var(--main-color-second);;
  transform:translate(-70%, -15px) rotate(-20deg);
  width: 100px;
}
.aboutSmallTexts h5{
  rotate: 5deg;
  margin: 0px;
  border-bottom: 1px solid var(--main-color-second);
  font-size: larger;
  font-weight: lighter;
  margin-left: 5px;

  background-color: white;
}

/*
#aboutCharacter{
  transform: translate(8vw, 20vh);
}
#aboutFavorit{
  transform: translate(60vw, 60vh);
}
#aboutCertification{
  transform: translate(68vw, 30vh);
}
#aboutHenoheno{
  transform: translate(12vw, 67vh);
}*/
#futureArea{
  top: 400vh;
}

#backContaints{
  position: absolute;

  z-index: 0;
}


.backTextLine{
  position: absolute;
}

#bigHe{
  height: 170vh;
  width: 250vw;

  right: 60vh;
  top: -150vh;
  position: absolute;

}
#heLine{
  clip-path: polygon(0 75%, 30% 0, 100% 100%, 82% 100%, 30% 6%, 10% 79%);
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}
#topImg{
  background-color: red;
  position: absolute;

  width: 100vw;
  height: 100vh;

  left: -36%;
  top: 120%;
}
#backTexts{
  z-index: 1;
  mix-blend-mode: difference;
}
#noCircleBlack{
  width: 200vh;
  height: 200vh;

  border-radius: 50%;
  background-color: black;


  transform: translate(-50%);
}
#noCircleWhite{
  border-radius: 50%;
  background-color: white;

  width: 170vh;
  height: 170vh;

  left: 15vh;
  top: 15vh;

}

#noCurveBlack{
  border-radius: 50%;
  background-color: black;

  width: 503.5vh;
  width : -webkit-calc(474vh + 15.6vw);
  width: calc(474vh + 15.6vw);
  height: 500vh;

  right: -130vh;
  top: 1.5vh;
}
#noCurveWhite{
  border-radius: 50%;

  width: 450vh;
  height: 450vh;
  top: 25vh;
  left: 25vh;


  background-color: white;
}
#noCurveMask{
  clip-path: polygon(45% 0, 45% 50%, 100% 50%, 100% 100%, 0 100%, 0% 0%);
  width: 120%;
  height: 120%;
  margin-left: -15%;
  background-color: white;
}
#bigNnUp{
  width: 220vw;
  height: 400vh;

  left: 469vh;
  top: 299vh;

  position: absolute;
}
#nnUpperLine{
  clip-path: polygon(93% 0, 100% 0%, 77% 85%, 67% 100%);
  background-color: black;
  width: 100%;
  height: 100%;
  left: -92.9%;
}
#nnLowerLine{
  clip-path: polygon(30% 50%, 36% 55%, 7% 100%, 0 98%);
  background-color: black;
  width: 100%;
  height: 100%;
  left: -30%;
}
#nnCurveBlack{
  clip-path: circle(35% at 60% 60%);

  background-color: black;

  width: 100%;
  height: 100%;
  left: -29%;
}
#nnCurveWhite{
  clip-path: circle(25% at 60% 60%);

  background-color: white;

  width: 100%;
  height: 100%;
}
#nnCurveMask{
  clip-path: polygon(0 20%, 100% 20%, 100% 57%, 0 57%);

  background-color: white;

  width: 100%;
  height: 100%;
}

/*
#bigHe{
  top: -60%;
}
#bigNo{
  top: -32%;
  left: 15%;
}
#bigNn{
  top: 3%;
  left: 27.3%;
}*/
/*
.backTextLine{
  width: 100%;
  height: 100%;
  position: absolute;
}*//*
.bigNoLine{
  top: -11%;
  left: 64%;
}

.bigNnLine{
  top: 45%;
  left: 115%;
}
*/
/*
#heLine{
  clip-path: polygon(0 62%, 24% 39%, 100% 70%, 93% 75%, 24% 41%, 5% 67%);
  background-color: black;
}
#noCircleBlack{
  background-color: black;

  border-radius: 50%;
  width: 55%;
  height: 55%;
  margin-top: 20%;
}

#noCircleWhite{
  background-color: white;

  border-radius: 50%;
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
}

#noCurveBlack{
  border-radius: 50%;

  width: 90%;
  height: 90%;


  margin-top: 19%;
  margin-left: -14%;

  background-color: black;
}
#noCurveWhite{
  border-radius: 50%;

  width: 85%;
  height: 85%;
  top: 7.5%;
  left: 7.5%;


  background-color: white;
}
#noCurveMask{
  clip-path: polygon(35% 0, 35% 50%, 100% 50%, 100% 100%, 0 100%, 0% 0%);
  width: 110%;
  height: 110%;
  margin-left: -15%;
  margin-top: 10%;
  background-color: white;
}

#nnUpperLine{
  clip-path: polygon(18.6% 8%, 25.2% 9%, 5% 100%, 0 98%);
  background-color: black;
}
#nnLowerLine{
  clip-path: polygon(30% 50%, 36% 55%, 7% 100%, 0 98%);
  background-color: black;
}
#nnCurveBlack{
  clip-path: circle(35% at 60% 60%);

  background-color: black;
}
#nnCurveWhite{
  clip-path: circle(25% at 60% 60%);

  background-color: white;

}
#nnCurveMask{
  clip-path: polygon(0 20%, 100% 20%, 100% 57%, 0 57%);

  background-color: white;
}



.backText{
  font-size: 1000px;
  position: absolute;
  color: lightyellow;
  opacity: .5;
  z-index: -1;
}
#he{
  top: -1700px;
}

#he{
  top: -1700px;
}
.backTextBox{
  overflow-x: hidden;
}

@media screen and (max-width:768px) {
  #aboutArea{
    height: 1050px;
  }
  #aboutSub{
    flex-flow: column;
  }
  #skillsArea{
    height: 1600px;
    overflow: hidden;
  }
.skillBox:nth-child(2){
  margin-left: 50%;
  margin-top: 100%;
}
.skillBox:nth-child(3){
  margin-left: 50%;
  margin-top: 200%;
}
.skillBox:nth-child(4){
  margin-left: 50%;
  margin-top: 300%;
}

#timeLine{
  display: none;
}
.workBox{
  margin-right: 10px;
}
.workLine{
  display: none;
}
}*/